@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/d7d2c5b4-4c7b-4efb-9c21-0ef70f800be8.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/925b1f14-e32f-4af1-b2ee-80132fd73b20.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/c775fc02-e85e-4e5f-b67a-b62e4ed19fb9.ttf') format('truetype');
}
@font-face {
    font-family: 'Whyte';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/1a10a760-7a92-490f-9124-407664655a9a.otf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/738a7887-09d7-4152-ba19-bd39b48d602d.otf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/e975e34d-eef1-48e6-92b1-58f5aa6c2449.otf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/59755b9e-24c5-4bdf-917b-e9a1f16ebb82.otf') format('truetype');
}
@font-face {
    font-family: 'Whyte';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/892705e8-aeb9-4573-87af-ede8cdef7868.otf') format('truetype');
}